* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 99w;
}

.container-dark {
    background-color: #1f2937;
}

header {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 8px 0;
    font-size: 24px;
    color: #f9faf8;
}

header nav {
    display: flex;
    flex: 0 1 180px;
}

header nav a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 8px;
    color: HSL(0, 0%, 100%);
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
    height: 480px;
    margin: 0 auto;
}

.hero .hero-content {
    flex: 1 0 300px
}

.hero .hero-content h2 {
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: 900;
    color: #F9FAF8
}

.hero .hero-content p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.hero .hero-content a {
    display: inline-block;
    border-radius: 8px;
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bolder;
    text-decoration: none;
    padding: 8px 16px;
}

.hero .hero-img {
    flex: 1 0 300px;
}

.hero .hero-img img {
    width: 100%;
}

.container-light h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 50px 0;
}

.card-collection {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    width: 60%;
    margin: 0 auto 80px;
}

.card-collection .info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 170px;
}

.card-collection .info-card .card-img {
    height: 170px;
    width: 170px;
    border: 4px solid hsl(215, 100%, 60%);
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-collection .info-card .card-img img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.card-collection .info-card p {
    text-align: center;
}

.container-grey {
    background-color: #efe7eb;
}

#quote {
    display: flex;
    height: 450px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#quote blockquote {
    width: 50%;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

#quote blockquote p {
    text-align: right;
    font-size: 24px;
    font-weight: 600;
    font-style: initial;
}